@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: 'Jua', sans-serif;
  margin: 0;
  background-color: #e8c87b;
}
.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.title {
  margin-bottom: 30px;
}
.content {
  width: 390px;
  height: 520px;
  box-sizing: border-box;
  padding: 30px 50px 30px 30px;
  background: rgb(168, 107, 149);
  background: linear-gradient(
    308deg,
    rgba(168, 107, 149, 1) 57%,
    rgba(139, 86, 158, 1) 91%
  );
  border: 2px solid #202124;
  border-radius: 10% 60% / 30% 50%;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  background-color: #60532d;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: #f9fcf9;
}
input:focus {
  outline: none;
  background-color: #383218;
}
.input-container {
  display: flex;
  align-items: center;
  transform: translate(30px, 20px);
}
.submit-btn {
  width: 100px;
  margin: 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  background: none;
}
img {
  width: 100%;
  height: 100%;
}
.delete-btn {
  width: 50px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 38px;
}
.delete-btn:hover {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
