body {
  background-color: black;
}
img {
  width: 70x;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coordinate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 20px);
  color: white;
}

.line-h {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 50%;
  height: 1px;
}
.line-v {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 1px;
  left: 50%;
}
